@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwindcss를 적용시키려면 @apply를 입력하면 된다. */
.bg-primary {
    @apply bg-white dark:bg-slate-800
}

.btn-project {
    @apply inline-flex text-white dark:text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg
}

.project-card {
    @apply flex flex-col m-3 rounded-xl w-full
            transition duration-300 transform border border-gray-300 /* transition을 이용해 애니메이션 속도를 변경한다 */
            hover:scale-105 /* 마우스를 올렸을 때 자연스럽게 크기가 커지도록 */
            hover:shadow-lg
            dark:border-gray-200/50
            dark:hover:shadow-gray-400/40 /* 은은한 그림자 효과 */
            hover:text-blue-600
}

h1, h2, h3, h4, h5, h6 {
    @apply text-slate-900 dark:text-white
}

footer {
    @apply text-gray-600 dark:text-white
    bg-gray-100 dark:bg-slate-600/20
}

a {
    @apply text-slate-500 hover:text-slate-700 dark:text-slate-400 dark:hover:text-slate-50
}

p {
    @apply text-slate-500 dark:text-slate-400
}